<%- layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-md-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h1><%= err.statusCode %></h1>
      <hr>
      <p style="white-space: pre-line"><%= err.message %></p>
    </div>
  </div>
</div>
