body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://source.unsplash.com/K9olx8OF36A");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  height: 100vh;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 60vw;
}

.nav-link {
  border-bottom: 0.25rem solid transparent;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin-left: 1rem;
  padding: 0.25rem 0;
}

.nav-link.active, .nav-link.active:hover {
  border-color: white;
  color: white;
}

.nav-link:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.btn-secondary, .btn-secondary:hover {
  color: #333;
  text-shadow: none;
}
