.campground-card {
  cursor: pointer !important;
  transition-duration: 0.2s;
}

.campground-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition-duration: 0.25s;
}

#imageDelete label {
  cursor: pointer;
  --label-height: 
}

#imageDelete label::before {
  bottom: 0;
  content: "\274c";
  font-size: 2.5rem;
  left: 0;
  line-height: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition-duration: 0.2s;
  transform: scale(0);
  transform-origin: top;
  z-index: 1;
}

#imageDelete label img {
  transition-duration: 0.2s;
}

#imageDelete :checked+label::before {
  opacity: 100%;
  transform: scale(1);
}

#imageDelete :checked+label img {
  opacity: 50%;
  transform: scale(0.8);
}

#campgroundShowMap {
  height: 300px;
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-popup-content {
  padding: 1rem 1.5rem 1rem 1rem;
}

.mapboxgl-popup-content p {
  margin: 0;
}
