<%- layout('layouts/boilerplate') -%>
<h1>YelpCamp Campgrounds</h1>
<a href="/campgrounds/new">Add New Campground</a>
<ul>
<%_ for (let campground of campgrounds) { _%>
  <li><a href="/campgrounds/<%= campground.id %>"><%= campground.title %></a></li>
<%_ } _%>
</ul>
