<%- layout('layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">Login</h1>
  <div class="col-md-6 offset-3">
    <form method="POST" action="/login" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a username.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a password.</div>
      </div>
      <button type="submit" class="btn btn-success">Log In</button>
    </form>
  </div>
</div>
